body {
    background-color: pink;
}

header, footer {
    background-color: maroon;
    text-align: center;
}

section {
    background-color: red;
    text-align: center;
}

#puppy1 {
    height: 400px; 
    width: 500px;
    border: solid black 3px; 
    text-align: center;
    
}

#puppy2 {
    height: 300px;
    width: 300px;
    border: solid black 2px;
    text-align: center;
    float: left;
}

#puppy3 {
    height: 300px;
    width: 300px;
    text-align: center;
    float: left;
    margin-right: 0px 0px 0px 50px;
    border: solid black 2px;
}

#puppy 
{
    height: 200px;
    width: 300px;
    text-align: center;
    float: right;
    border: solid black 2px;
}

#puppy4
{
    border: solid black 2px;
    height: 300px;
    width: 300px;
    text-align: center;
    float: right
    
}

li {
    border: solid black 5px;
    text-align: center ;
}